<div class="card-container">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          Directivas
        </ng-template>
        <h1>Aquí se ejemplifican las directivas.</h1>
        <app-directivas></app-directivas>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Pipes
        </ng-template>
        <h1>Aquí se ejemplifican los pipes.</h1>
        <app-pipes></app-pipes>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Modelado de datos
        </ng-template>
        <h1>Aquí se ejemplifica el modelado de datos.</h1>
        <app-biblioteca></app-biblioteca>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Librerías
        </ng-template>
        <h1>Aquí se ejemplifican las librerías.</h1>
        <app-animacion></app-animacion>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Forms
        </ng-template>
        <h1>Aquí se ejemplifican los Forms.</h1>
        <app-pipes></app-pipes>
      </mat-tab>
    </mat-tab-group>
  </div>